.main {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .isHome {
  width: 70%;
}

.main__title {
  color: white;
  font-size: 25px;
}
.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 35px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
}
::placeholder {
  color: white;
}
