$blanco: white;

.flex {
  display: flex;
  align-items: center;
}

.register {
  background: linear-gradient(#21c08b, #AB88FF);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: calc(100vh - 200px);
}

.register__input {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}

.register__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.register__container--form {
  display: flex;
  flex-direction: column;
}

.register__container--form label {
  font-size: 14px;
}

.register__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.register__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.register__container--remember-me a:hover {
  text-decoration: underline;
}
.register__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.register__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.register__container--register {
  font-size: 14px;

}
.register__container--register {
  font-size: 14px;
  text-align: center;
}
.register__container--register a {
  font-size: 16px;
  color: $blanco;
  font-weight: bold;
  text-decoration: none;
}
.register__container--register a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.register__container--register a:hover {
  text-decoration: underline;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .register__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
